.post {
  margin: 3rem 8rem 0rem 2rem;
  /* width: 385px; */
  z-index: 1;
  /* border: 1px solid black; */
  background-color: rgb(201, 201, 248);
  border-radius: 30px;
  display: grid;
  column-gap: 50px;
}
.postRen {
  width: 385px;
  margin: 100px;
  border-radius: 100px;
  display: flex;
  flex-direction: column;

  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

img {
  width: 500px;
  border-radius: 10px;
}
.postDes {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 14px;
  color: #444;
  margin-top: 10px;
  line-height: 18px;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.postInfo {
  display: flex;
  flex-direction: column;
}
